import(Matrix)
import(quadprog)
importFrom("graphics", "frame", "legend", "lines", "par", "plot",
           "plot.new", "plot.window", "points", "polygon", "segments",
           "strheight", "strwidth", "text")
importFrom("methods", "as")
importFrom("stats", "runif")
export(align.pedigree, familycheck, kinship, kindepth, kinship.default)
export(makefamid, makekinship, pedigree, autohint)
export(pedigree.legend)
export(ibdMatrix)
export(plot.pedigree, print.pedigree, as.data.frame.pedigree)
export(pedigree.shrink, pedigree.trim, pedigree.unrelated, bitSize)
export(print.pedigree.shrink, plot.pedigree.shrink) #, dim.pedigree)
export(findUnavailable, findAvailNonInform, findAvailAffected)
export(printBanner)
S3method(plot, pedigree)
S3method(kinship, pedigree)
S3method(kinship, default)
S3method(kinship, pedigreeList)
S3method(print, pedigree)
S3method(print, pedigreeList)
S3method(print, pedigree.shrink)
S3method(plot, pedigree.shrink)
S3method(as.data.frame, pedigree)
S3method('[', pedigreeList)
S3method('[', pedigree)
S3method(dim, pedigree)
export(read.pedigree)
export(ped2kinship2)
export(plot.ped)
export(get.parents)
export(get.father)
export(get.mother)
export(get.spouse)
export(get.children)
export(get.siblings)
export(get.youngest.sibling)
export(get.oldest.sibling)
export(get.subfamily)
export(get.generation)
export(get.cases)
export(get.controls)
export(get.founders)
export(get.founder)
export(get.non.founder)
export(get.subfamilies)
export(getSubFamily)
export(get.trios)
export(get.root)
export(get.bits)
export(get.subfamilies)
export(check.both.parents)
export(is.founder)
export(check.is.founder)
export(is.not.orphan)
export(check.not.orphan)
export(is.gender.consistent)
export(check.gender.consistent)
export(check.gender.known)
export(is.spouse.matched)
export(check.spouse.matched)
export(check.couples.children)
export(get.kinship2.pedigree)
export(set.children)
export(set.siblings)
export(set.spouse)
export(set.founder)
export(set.genereration)
export(setSubfamily)
export(ME.check)
export(random.walk)
export(child.pedigrees)
export(ped.bits)
export(complete.genotype.matrix)
export(dominant.variant)
export(dominant.rare.variant)
